@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Poppins";
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.background-gradient {
  background: linear-gradient(180.65deg, #a58aff -43%, #0c0329 108.59%);
}

.title-gradient {
  background: linear-gradient(
      126.39deg,
      #2ae7bc 4.16%,
      #09a6f0 45.29%,
      #9669fd 87.92%
    ),
    #2ae7bc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.filter-Shadow {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.bg_gradient {
  border-image: linear-gradient(
    126.39deg,
    #2ae7bc 4.16%,
    #09a6f0 45.29%,
    #9669fd 87.92%
  );
  border-image-slice: 1;
}

.homeSwiper {
  .swiper-pagination {
    width: max-content;
    margin: 0 auto;
    position: absolute;
    z-index: 1000;
    cursor: pointer;
    height: 14px !important;
  }
  .swiper-pagination-bullet {
    background-color: #cecece !important;
    margin: 0 5px;
    border-radius: 0px !important;
    transition: all 0.3s ease-in-out;
    padding-left: 80px;
    height: 14px !important;
  }

  .swiper-pagination-bullet-active {
    background-color: #3f3d56;
    background: linear-gradient(
      126.39deg,
      #2ae7bc 4.16%,
      #09a6f0 45.29%,
      #9669fd 87.92%
    );
  }
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: none !important;
}
.servicesSlider {
  .swiper-pagination {
    position: absolute;
    left: 0 !important;
    top: 98px !important;
    height: max-content !important;
    width: max-content;
  }
  .swiper-pagination-bullet {
    width: max-content;
    height: max-content !important;
    opacity: 1;
    background: none;
    border-radius: 0;
    margin: 0 !important;
  }
  .swiper-pagination-bullet-active {
    button {
      p {
        background: linear-gradient(
            126.39deg,
            #2ae7bc 4.16%,
            #09a6f0 45.29%,
            #9669fd 87.92%
          ),
          #2ae7bc !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        background-clip: text !important;
        text-fill-color: transparent !important;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .homeSwiper {
    .swiper-pagination {
      height: 8px !important;
    }
    .swiper-pagination-bullet {
      padding-left: 43px;
      height: 8px !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .servicesSlider {
    .swiper-pagination {
      display: flex;
      justify-content: space-between;
      top: 14px !important;
      width: 100%;
    }
  }
}

.btn-gradient-2 {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(126.39deg, #2ae7bc 4.16%, #09a6f0 45.29%, #9669fd 87.92%)
      border-box;
  border-radius: 50em;
  border: 4px solid transparent;
}

.btn-gradient-2:hover {
  background: linear-gradient(
    126.39deg,
    #2ae7bc 4.16%,
    #09a6f0 45.29%,
    #9669fd 87.92%
  );
  border: 0;
  span {
    color: white;
  }
  img {
    filter: brightness(0) invert(1);
  }
}
